@{
    ViewBag.Title = "Video";
}

<h2>Video</h2>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".nav li").eq(4).addClass("active");
        });
    </script>
}