@{
    ViewBag.Title = "Forums::Nao.Tv";
}

<h2>Forums</h2>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".nav li").eq(2).addClass("active");
        });
    </script>
}